* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	/* font-family: 'Open Sans', sans-serif; */
}

body {
	height: 100vh;
	background-color: #0b2447;
	font-family: 'Noto Serif', serif;
}
a {
	text-decoration: none;
	font-size: 1rem;
}

li {
	list-style: none;
}

a:hover {
	color: #a5d7e8;
}

header {
	position: relative;
	padding: 0 2rem;
}

.navbar {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .toggle-btn {
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
	margin-left: 5px;
}

/* Drop Menu */
.drop-menu {
	position: absolute;
	display: block;
	right: 2rem;
	top: 60px;
	height: 0;
	width: 200px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.drop-menu li a {
	color: white;
}

.drop-menu li:hover {
	background-color: #576cbc;
	border-radius: 5px;
}

.drop-menu.open {
	height: 180px;
}

/* Hero Section */
#hero {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 10%;
}

.hero-content {
	display: block;
	max-width: 600px;
}

.hero-content h1 {
	font-size: 58px;
	font-weight: 700;
	line-height: 1.2;
}

.hero-content b {
	color: #a5d7e8;
}

.hero-content > h3 > b {
	color: white;
}
.hero-content h3 {
	font-size: 32px;
	font-weight: 700;
	color: #a5d7e8;
}

.hero-content p {
	font-size: 16px;
	margin: 20px 0 40px;
}

.hero-content .btn-box {
	width: 345px;
	height: 50px;
}

.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: #a5d7e8;
	border: 2px solid #0b2447;
	border-radius: 8px;
	font-size: 19px;
	color: #0b2447;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	overflow: hidden;
}

.btn-box a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50;
	width: 0;
	height: 100%;
	border-radius: 10px;
	background: white;
	z-index: -1;
	transition: 0.3s;
}

.btn-box a:hover::before {
	width: 100%;
}

.hero-social {
	position: absolute;
	display: flex;
	margin-top: 20px;
	padding: 0;
	width: 160px;
	justify-content: space-between;
}

.hero-social a {
	position: relative;
	display: inline-flex;
	width: 30px;
	height: 30px;
	background: transparent;
	border: 2px solid #0b2447;
	font-size: 25px;
	color: #0b2447;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}
#about {
	height: 100%;
}

#skills {
	height: 100%;
}

#projects {
	height: 100%;
}

#contact {
	height: 100%;
}
/* Responsive Navbar */
@media (max-width: 992px) {
	.navbar .links {
		display: none;
	}
	.navbar .toggle-btn {
		display: block;
	}
}

@media (max-width: 576px) {
	.drop-menu {
		left: 2rem;
		width: unset;
	}
}

@media (max-height: 814px) {
	#hero {
		display: block;
		padding: 200px 10%;
	}
}
@media (min-width: 944px) {
	.drop-menu.open {
		height: 0;
	}
}
