* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

body {
	height: 100vh;
	background-color: #0b2447;
	font-family: 'Noto Serif', serif;
}
a {
	text-decoration: none;
	font-size: 1rem;
}

li {
	list-style: none;
}

a:hover {
	color: #a5d7e8;
}

header {
	position: fixed;
	padding: 30px 100%;
	z-index: 100000;
}

.navbar.sticky {
	background: #19376d;
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;
}

.navbar .logo a {
	position: relative;
	margin-left: 30px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	transform: 0.6s;
}

.navbar ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.navbar ul li {
	position: relative;
	list-style: none;
}

.navbar ul li a {
	position: relative;
	letter-spacing: 0.5px;
	font-weight: 500px;
}
.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .toggle-btn {
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
	margin-left: 5px;
	margin-right: 30px;
}

/* Drop Menu */
.drop-menu {
	position: fixed;
	display: block;
	right: 2rem;
	top: 60px;
	height: 0;
	width: 200px;
	background-color: #19376d;
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.drop-menu li a {
	color: white;
}

.drop-menu li:hover {
	background-color: #576cbc;
	border-radius: 5px;
}

.drop-menu.open {
	height: 180px;
}
/* Scroll Container */
.scroll-container {
	height: 100vh;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

.scroll-area {
	scroll-snap-align: start;
}
/* Hero Section */
#hero,
#about,
#skills,
#projects,
#contact {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 10%;
}

.hero-content {
	display: block;
	max-width: 700px;
}

h1 {
	font-size: 70px;
	font-weight: 700;
	line-height: 1.2;
}

.hero-content b {
	color: #a5d7e8;
}

.hero-content > h3 > b {
	color: white;
}
.hero-content h3 {
	font-size: 32px;
	font-weight: 700;
	color: #a5d7e8;
	font-style: italic;
}

.hero-content p {
	font-size: 25px;
	margin: 20px 0 40px;
}

.hero-content .btn-box {
	width: 345px;
	height: 50px;
}

.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	margin-right: 20px;
	background: #a5d7e8;
	border: 2px solid #0b2447;
	border-radius: 8px;
	font-size: 19px;
	color: #0b2447;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
}

.btn-box a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50;
	width: 0;
	height: 100%;
	border-radius: 10px;
	background: white;
	z-index: -1;
	transition: 0.3s;
}

.btn-box a:hover::before {
	width: 100%;
}

.hero-social {
	display: flex;
	margin-top: 20px;
	padding: 0;
	width: 160px;
	justify-content: space-between;
}

.hero-social a {
	position: relative;
	display: inline-flex;
	width: 30px;
	height: 30px;
	margin-top: 20px;
	background: transparent;
	border: 2px solid #0b2447;
	font-size: 40px;
	color: #0b2447;
	text-decoration: none;
}
/* About section */
#about {
	justify-content: right;
}

.about-content h1 {
	text-align: left;
	color: #a5d7e8;
}

.about-content p {
	text-align: left;
	font-size: 25px;
	max-width: 60ch;
	margin: 20px 0px 20px;
	line-height: 1.5;
}

#skills {
	justify-content: left;
	max-width: 100%;
}
#skills .container {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	width: 800px;
	height: 100%;
}
#skills .container .title {
	margin-top: 60%;
	margin-left: 20%;
	text-align: left;
	width: 100%;
}

#skills .container .title h1 {
	color: #a5d7e8;
	line-height: 1.5;
}

#skills .container .skill-icon {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 30px;
	font-size: 40px;
	text-align: center;
}

#skills .container .skill-icon i {
	text-align: center;
	margin: 20px;
	color: #a5d7e8;
}

#skills .container .skill-icon i p {
	font-size: 2rem;
	font-style: italic;
}
#projects {
	max-width: 100%;
	justify-content: right;
}

#contact {
	max-width: 100%;
	justify-content: left;
}

#footer {
	position: fixed;
}
/* Responsive Navbar */
@media (max-width: 992px) {
	.navbar .links {
		display: none;
	}
	.navbar .toggle-btn {
		display: block;
	}
}

@media (max-width: 576px) {
	.drop-menu {
		left: 2rem;
		width: unset;
	}
}

@media (max-height: 814px) {
	#hero {
		display: block;
		padding: 200px 10%;
	}
}
@media (min-width: 999px) {
	.drop-menu.open {
		height: 0;
	}
}

@media (max-width: 768px) {
	#skills .container .skill-icon {
		grid-template-columns: 1fr 1fr;
	}
	#skills .container .title {
		text-align: left;
	}
}

@media (max-width: 480px) {
	#skills .container .skill-icon {
		grid-template-columns: 1fr;
	}
	#skills .container .title {
		text-align: left;
	}
}
